<div class="iapp-case-wrap">
    <div class="small-head center">Scotus decision tracker</div>
    <div class="case-bar-wrap">
        <h2 class="iapp-case-name"><%=case_title%> </h2>

        <p class="iapp-decided-indicator"><%=case_name %> <span
                class="label label-success">Decided: <%=case_date%></span>
        </p></div>

    <div class="iapp-case-split-column">
        <div class="iapp-case-section">
            <h3 class="iapp-case-section-label">Question</h3>
            <h4 class="iapp-case-question"><%=question%></h4>
        </div>


        <div class="iapp-case-section">
            <h3 class="iapp-case-section-label">Outcome</h3>
            <h4 class="iapp-outcome"><%=outcome%></h4>
        </div>
    </div>

    <div class="iapp-case-split-column">
        <h3 class="iapp-case-section-label">Decision Breakdown:</h3>
        <table class="table table-bordered iapp-decision-table">
            <thead>
            <tr>
                <td>Justice</td>
                <td>Decision</td>
            </tr>
            </thead>
            <tbody>
            <% _.each(justices, function(justice) { %>
            <tr>
                <td><%=justice.name %></td>
                <% if(justice.status == "for") { %>
                <td class="iapp-for">Majority</td>
                <%} else if(justice.status == "in-part") { %>
                <td class="iapp-in-part">Concur in part</td>
                <%} else if(justice.status == "against") { %>
                <td class="iapp-against">Dissent</td>
                <%}%>
            </tr>
            <%})%>
            </tbody>
        </table>
    </div>

    <div class="iapp-case-section iapp-case-quotes">
        <div class="iapp-case-quote-wrap iapp-case-split-column ">
            <h3 class="iapp-case-section-label">Quote from the Majority</h3>

            <p class="iapp-case-quote"><%= quote_1 %></p>

            <p class="iapp-case-quote-source"><%= quote_1_source%></p>
        </div>
        <div class="iapp-case-quote-wrap  iapp-case-split-column">
            <h3 class="iapp-case-section-label">Quote from the dissent</h3>

            <p class="iapp-case-quote"><%= quote_2 %></p>

            <p class="iapp-case-quote-source"><%= quote_2_source%></p>
        </div>
    </div>

    <div class="iapp-case-section iapp-case-arguments">
        <div class="iapp-case-argument iapp-case-split-column">
            <h3 class="iapp-case-argument-title iapp-case-section-label">Argument For</h3>

            <p class="iapp-case-argument-text"><%= argument_for %></p>
        </div>
        <div class="iapp-case-argument iapp-case-split-column">
            <h3 class="iapp-case-argument-title iapp-case-section-label">Argument Against</h3>

            <p class="iapp-case-argument-text"><%= argument_against %></p>
        </div>
    </div>
    <div class="iapp-share-buttons">
        <a href="https://twitter.com/intent/tweet?url=<%=twitterShare%>&text=<%=encodedShare%>"
           class="iapp-share-button iapp-share-twitter iapp-share-popup" target="_blank"><img
                src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/twitter.svg"
                alt="Twitter share"></a>
        <a href="https://www.facebook.com/dialog/feed?display=popup&app_id=<%=fb_id%>&link=<%=fbShare%>&picture=<%=shareImage%>&name=&description=<%=encodedShare%>&redirect_uri=<%=fb_redirect%>"
           class="iapp-share-button iapp-share-facebook iapp-share-popup" target="_blank"><img
                src="http://www.gannett-cdn.com/experiments/usatoday/2015/06/emoji-index/img/fb.svg"
                alt="Facebook share"></a>
    </div>
    <div class="iapp-case-nav">
        <div class="iapp-button iapp-button-blue iapp-case-nav-button iapp-case-next-button">
            <div class="iapp-button-text">Next</div>
        </div>
        <div class="iapp-button iapp-button-blue iapp-case-nav-button iapp-case-previous-button">
            <div class="iapp-button-text">Back</div>
        </div>
    </div>
</div>
