<div class="iapp-case-wrap">
    <h2 class="iapp-case-name"><%=case_name%></h2>
    <p class="iapp-decided-indicator"><span class="label label-warning">Undecided</span></p>
    <h4 class="iapp-case-question"><%=question%></h4>
    <div class="iapp-case-arguments">
        <div class="iapp-case-argument">
            <h3 class="iapp-case-argument-title">Argument For</h3>
            <p class="iapp-case-argument-text"><%= argument_for %></p>
        </div>
        <div class="iapp-case-argument">
            <h3 class="iapp-case-argument-title">Argument Against</h3>
            <p class="iapp-case-argument-text"><%= argument_against %></p>
        </div>
    </div>
</div>
<div class="iapp-case-nav">
    <div class="iapp-button iapp-button-blue iapp-case-nav-button iapp-case-next-button"><div class="iapp-button-text">Next</div></div>
    <div class="iapp-button iapp-button-blue  iapp-case-nav-button iapp-case-previous-button"><div class="iapp-button-text">Previous</div></div>
</div>

